p
{
    font-size: 0.8em;
}
body
{
    background-color: rgba(255, 0, 0, 0.5); /* Red, semi-transparent background */
    /*background: url("sun.png") fixed no-repeat top right;or even things like opacity...*/
}
a:hover /* Appearance of links when hovered over */
{
    text-decoration: underline;
    color: green;
}
a:active /* or focus, or visited */
{
    background-color: #FFCC66;
}
a
{
    display: block;
}
nav
{
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    vertical-align: top;
}

section
{
    display: inline-block;    
    border: 1px solid blue;
    vertical-align: top;
}
strong
{
    background-color: red;
    color: yellow;

    position: relative;
    left: 55px;
    top: 10px;
}

/* On screens with a maximum window width of 1280px */
@media screen and (max-width: 1280px)

/* On all screen types with a window width of between 1024px and 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)

/* On TVs */
@media tv

/* On all vertically oriented types of screens */
@media all and (orientation: portrait)

    aside p:last-child
        {
                    text-align: center;
                        }
                        /*last-child targets only the last paragraph in the aside block (which contains the links to Facebook and Twitter)*/


                        <meta name="viewport" content="width=device-width" />/*no mobile browser except Opera mobile recognizes handheld. They all behave as if they were normal screens (screen). So you can't really use handheld for mobile phones.

                        You can change the mobile browser's viewport width with a meta tag to be inserted in the document header (<head>)*/
